<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <section class="auth-section">
        <div class="form-box">
          <div class="form-value">
            <form
              action="/api/v1/user/login"
              method="post"
              autocomplete="off"
              id="login-form"
            >
              <h2>Login</h2>

              <div class="inputbox">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" name="email" id="email" required />
                <label for="email">Email</label>
              </div>
              <div class="inputbox">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" required />
                <label for="password">Password</label>
              </div>

              <div class="forgot">
                <label for="">
                  <a href="/api/v1/user/request/password/reset"
                    >Forgot Password?</a
                  ></label
                >
              </div>
              <button>Login</button>
              <div class="register">
                <p>
                  Don't have an account
                  <a href="/api/v1/user/register">Create Account</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>

    <script src="/js/auth/login.js"></script>
  </body>
</html>
