<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <section class="auth-section">
        <div class="form-box">
          <div class="form-value">
            <div class="heading">
              <h2>Create password</h2>

              <p>
                Your new password must be different from the previously used
                password.
              </p>
            </div>
            <form
              action="/api/v1/user/password/reset"
              method="post"
              autocomplete="off"
            >
              <div class="inputbox">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" required />
                <label for="password">Password</label>
              </div>

              <button type="submit">Reset password</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
