<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <form
        action="/api/v1/user/password/reset"
        method="post"
        class="container__login"
      >
        <h1>Create password</h1>
        <div class="link">
          <p>
            Your new password must be different from the previously used
            password.
          </p>
        </div>
        <div class="form-group">
          <!-- <label for="password">Enter New Password</label> -->

          <input
            type="text"
            name="email"
            id="email"
            hidden
            required
            value="<%= email %>"
          />
          <input
            type="password"
            name="password"
            id="password"
            required
            placeholder="Enter New Password"
          />
        </div>

        <button type="submit">Reset Password</button>
      </form>
    </div>
  </body>
</html>
