<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>RESET</h1>

    <form action="/api/v1/user/password/reset" method="post">
      <input type="text" name="email" id="email" hidden required />
      <label for="password">PASSWORD:</label>
      <input type="password" name="password" id="password" required />
      <br />

      <input type="submit" value="RESET PASSWORD" />
    </form>
  </body>
</html>
