<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Registration</h1>

    <form action="/api/v1/user/register" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
        <br />
      </div>

      <div>
        <br />
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />
        <br />
      </div>

      <div>
        <br />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <br />
      </div>

      <div>
        <label for="selectedCourses">COURSE:</label>

        <div>
          <% course.forEach(element => { %>
          <label for="selectedCourses"><%= element.title %>:</label>
          <input
            type="checkbox"
            name="selectedCourses"
            value="<%= element.title %>"
            id="selectedCourses"
          />
          <br />
          <% }) %>
        </div>
      </div>

      <input type="submit" value="REGISTER" />
    </form>
  </body>
</html>
