<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <section>
        <div class="form-box">
          <div class="form-value">
            <div class="heading">
              <h2>Reset password</h2>

              <p>
                Enter the email associated with your account and we'll send an
                email with instructions to reset your password
              </p>
            </div>
            <form
              action="/api/v1/user/request/password/reset"
              method="post"
              autocomplete="off"
            >
              <div class="inputbox">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" name="email" id="email" required />
                <label for="">Email</label>
              </div>

              <button type="submit">Send Instructions</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
