<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <form
        action="/api/v1/user/request/password/reset"
        method="post"
        class="container__login"
      >
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required />
        </div>

        <button type="submit">REQUEST FOR PASSWORD RESET</button>
      </form>
    </div>
  </body>
</html>
