<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>REQUEST PASSWORD RESET</h1>

    <form action="/api/v1/user/request/password/reset" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
      <br />

      <input type="submit" value="REQUEST FOR PASSWORD RESET" />
    </form>
  </body>
</html>
