<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <section class="auth-section">
        <div class="form-box">
          <div class="form-value">
            <form
              action="/api/v1/user/verify/email"
              method="post"
              autocomplete="off"
              id="verify-form"
            >
              <h3>
                Hi <%= email %> , Please verify your account by inputting the
                otp you received in your email
              </h3>
              <input
                type="hidden"
                name="email"
                id="email"
                required
                value="<%= email %>"
              />
              <div class="inputbox">
                <i class="fa-solid fa-lock"></i>
                <input type="text" name="otp" id="otp" required />
                <label for="otp">OTP</label>
              </div>

              <button>Verify</button>
            </form>
          </div>
        </div>
      </section>
    </div>

    <script src="/js/auth/verify.js"></script>
  </body>
</html>
