<html>
  <head>
    <title>ERROR</title>
  </head>
  <body>
    <nav>
      <li>
        <a href="/"> HOME</a>
      </li>
    </nav>
    <h1>ERROR</h1>
    <% if (error) { %>
    <h1><%= error %></h1>
    <% } %>
  </body>
</html>
