<head>
  <title><%= title %></title>
  <style>
    /* your CSS styles go here */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    h1 {
      text-align: center;
      margin-top: 50px;
    }
    canvas {
      width: 100px;
      height: 100px;
      margin: 10px auto;
    }

    .chart-container {
      position: relative;
      height: 40vh;
      width: 80vw;
      display: flex;
    }
  </style>
</head>
