<html>
  <%- include('./head.ejs') %>
  <body>
    <%- include('./navbar.ejs') %>
    <h1>HOME PAGE</h1>

    <% if (locals.user) { %>
    <h1>SELECTED COURSES</h1>

    <% for (const course of locals.selectedCourses) { %>

    <div>
      <button>
        <a href="/api/v1/course/details/<%= course.title %>"
          ><%= course.title %></a
        >
      </button>
    </div>
    <% } %> <% } %>
  </body>
</html>
