<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <h1>SUCCESS</h1>
    <% if (success) { %>
    <h1><%= success %></h1>
    <% } %>
  </body>
</html>
