<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <form class="container__create" id="createCourse-form">
        <h1>Create Course</h1>

        <div class="form-group">
          <input
            type="text"
            name="title"
            id="title"
            required
            placeholder="Course title:"
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="code"
            id="code"
            required
            placeholder="Course Code:"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="description"
            id="description"
            required
            placeholder="Course Description:"
          />
        </div>

        <button type="submit">Create Course</button>
      </form>
    </div>

    <script src="/js/course/create.js"></script>
  </body>
</html>
